<div class="row">
    <div class="input-group">
        <input id="input-query" class="form-control" type="text" placeholder="Transaction">
        <span class="input-group-btn">
            <button class="btn btn-primary" id="search">Search</button>
        </span>
    </div>
</div>
